asgiref==3.8.1
autopep8==1.6.0
Django==4.2.1
django-cleanup==6.0.0
django-froala-editor==4.0.14
django-jazzmin==3.0.0
gunicorn==22.0.0
packaging==24.1
pillow==10.4.0
pycodestyle==2.8.0
pytz==2024.1
sqlparse==0.4.2
toml==0.10.2
tzdata==2022.1
whitenoise==6.7.0
